nav div ul{
    width: 80%;
    display:flex;
    justify-content: space-around;
    font-family: var(--secondary-font);
    font-size:clamp(1.8rem, 2vw, 2rem);
    font-weight:600;
    line-height: 80%;
    letter-spacing: 0.065em;
    text-align: center;
    color: var(--text-color-black);
    cursor: pointer;
    
}

nav div ul li:hover{
    text-decoration: underline;
}


.primary-button__container{
    transform: scale(1.3);
}

.primary-button__container:hover{
    transform: scale(1.2);
}

#menu{
    border: none;
    background: #ececf1e0;
    max-width: 400px;
}

#menu hr, #menu ul:first-child{
    display: none;
}

.contact__container button:hover{
    border: 2px solid rgb(1, 25, 71);
}

.contact__container span, .ideary__main__container span{
    position: absolute;
    width: 60px;
    height: 50px;
    display: block;
    background-image: url('circles.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.5;
    animation:10s infinite linear;
}

.contact__container span:first-child, .ideary__main__container span:first-child{
    top: 100px;
    left: 10%;
    animation-name: span-1;
}

.contact__container span:nth-child(2), .ideary__main__container span:nth-child(2){
    bottom: 100px;
    right: 10%;
    animation-name: span-2;
}

@keyframes span-1{
    
    50%{
        transform: translateY(600px) translateX(300px) rotate(180deg);
    }

    100%{
        transform: translate(0)
    }
}

@keyframes span-2{
    
    50%{
        transform: translateY(-600px) translateX(-300px) rotate(360deg);
    }

    
    100%{
        transform: translate(0);
    }
}

.ideary__card__container .ideary__card{
    flex-direction: row;
}

.ideary__card__container .ideary__card > div:first-child {
    width: 90px;
    height: auto;
}
.ideary__card__container .ideary__card > div:first-child >h3{
    display:none;
}



.ideary__card__container .ideary__card:nth-child(2){
    flex-direction: row-reverse;
}

.ideary__card__content h3{
    margin: 10px 0 0 10px;
    visibility:visible;
    font-family: var(--secondary-font);
    font-size:3.5rem;
    font-weight:normal;
    letter-spacing: 0.105em;
}

.card-1 h3{
    color: var(--main-color-red);
}

.card-2 h3{
    color: var(--main-color-blue);
}

.card-3 h3{
    color: var(--main-color-yellow);
    margin-left: 12%;
}


.normative-title__container p{
    margin-top: 40px;
    line-height: 160%;
}

.ideary-title__container p{
    margin-top:90px;
    line-height: 160%;
}

.uniform-main__container{
    /* flex-direction: row-reverse; */
    justify-content: space-around;
}

.uniform-main__container img{
    max-height: none;
    /* margin: 0 0 30px 30px; */

}