
    /* ORDEN de estilos:
    1- Posicionamiento --> static, absolute, relative, fixed
    2- Modelo de caja (Box model) --> margin, border, padding, content
    3- Tipografía --> tipos, tamaños de fuente, etc
    4- Estilos visuales --> box-shadow, border-radius, gradient, etc
    5- Otros --> reglas CSS y más 
    */
    :root{
        --main-color-red:#FF403F;
        --main-color-blue:#4B93FF;
        --main-color-yellow:#FAC901;

        --secondary-color-red:#ff8786;
        --secondary-color-blue:#84B5FF;
        --secondary-color-yellow:#FFE26A;

        --secondary-background-color:var(--secondary-background-color);

        --text-color-white:#FDF1F1;
        --text-color-black:#323232;

        --main-font:'Archivo Black', sans-serif;
        --secondary-font:'Roboto', sans-serif;

        --swiper-theme-color:#FDF1F1 !important;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-size: 62.5%;
        
    }

    html{
        font-family: var(--main-font);
        font-size: 62.5%;
        
    }

    header{
        width: 100%;
        min-height: 100vh;
        background-image: url('./assets/fondo-max.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center; 
        z-index: 60;     
    }

    /* Background header of "Nivel Incial */
    .first-level-header{
        background-image: url('./images/jardin.webp')
    }

    .primary-level-header{
        background-image: url('./images/hall-colegio.webp')
    }

    .filter{
        position: absolute;
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(180deg, rgba(0, 7, 32, 0.57) -1.19%, rgba(0, 12, 55, 0.228) 61.05%, rgba(0, 14, 65, 0) 100%);
        transform: matrix(1, 0, 0, -1, 0, 0);
        z-index: 62;
    }

    .primary-filter{
        background: linear-gradient(180deg, rgb(0 7 32 / 85%) -1.19%, rgb(0 12 55 / 41%) 61.05%, rgb(0 14 65 / 0%) 100%);
    }

    nav{
        position:fixed;
        padding: 2em;
        width: 100%;
        height: 10vh;
        min-height: 82px;
        background: rgba(249, 248, 248, 0.71);
        display: flex;
        align-items: center;
        z-index: 65;
    }

    nav > div{
        padding: 0 7em;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo__container{
        position:relative;
        width: 55px;
        height: 65px;
    }
    
    .logo__container > img{
        width:inherit;
        height: inherit;
        object-fit: scale-down;
    }
    
    .logo__container > a{
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width:inherit;
        height: inherit;
        cursor: pointer;
    }
     nav .icon{
        width:57px;
        height: 58px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    /* nav .icon a{
        display: block;
        width: inherit;
        height: inherit;
    }

    nav .logo{
        background-image: url('logo-prueba.png');
    } */ 

    nav  .menu{
        
        cursor: pointer;
        width: 36px;
        background-image: url('./assets/menu.png');
    }


    /* Disable on mobile */
    ul{
        list-style: none;
        display: none;
    }

    .main-title__container{
        margin-top: 60px;
        width: 90%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        color: var(--text-color-white);
        z-index: 63;
    }

    .main-title h1{
        font-size:clamp(2.6rem, 4vw, 5rem);
        letter-spacing: 0.105em;
        font-weight: 900;
    }

    .main-title__underline{
        margin-top: 4px;
        width: 100%;
        height: 9px;
        background-image: url('./assets/diagonal-underline.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
   
   .main-title__container h2{
        font-family: var(--secondary-font);
        font-size:clamp(1.4rem, 2vw, 2rem);
        letter-spacing: 0.065em;
        font-weight: 400;
   }

   .primary-button__container{
        width:146px;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('./assets/coloured-button.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 300ms;
   }

   .primary-button__container a{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-color-white);
        font-weight: 900;
        font-size: 1.4rem;
        letter-spacing: 0.065em;
   }

   
   .primary-button__container:hover{
       text-decoration: underline;
       border: 3px solid rgba(0, 18, 51);
       transform: scale(1.1);
   }

   
   /* off-canvas menu styles */
   #menu{
       overflow: scroll;
        position: absolute;
        right: 0;
        top: 10vh;
        border-top: 1px solid #868686;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        background: #ececf1;
        z-index: 70;
        transition: all 0.4s ease-in-out;

   }

   #menu::-webkit-scrollbar{
    background-color: #dbdbdd;
    border-radius: 5px;
}

#menu::-webkit-scrollbar-thumb {
    background-color:#ececf1;
    border-radius: 5px;
}


   /* class to modify the position of off-canvas menu, and to validate the condition at javascript*/
   .menu__out{
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
   }

   #menu ul{
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:flex-start;
   }

   #menu ul:last-child{
       margin-top: 20px;
   }

   #menu hr{
       background-color: #868686;
   }

   #menu ul a{
        font-family: var(--secondary-font);
        font-weight: 600;
        font-size: 1.4rem;
        letter-spacing: 0.065em;
        color: #585757;
   }

   #menu ul a:hover{
       text-decoration: underline;
   }

   /* class to add animation to off-canvas menu */
   .menu__animation{
    animation:off_menu;
    }
    @keyframes off_menu{
        0%{
            opacity: 0;
            transform: translateY(-100vh)
        }
        25%{
            opacity: 1;
        }
        100%{
            opacity: 1;
            transform: translateY(0px)
        }
        
    }

    /* Introduction section styles (it's using the class and structure of card__container and proyect__container */

    main .intro__main-container{
        margin-top: 0;
        background: var(--secondary-background-color);
    }

    .intro-title{
        margin: 0 auto;
        margin-top: 120px;
        width: fit-content;
    }

    .intro__main-container .intro-title h2{
        font-size: clamp(2rem,3vw,3.2rem);
        width: fit-content;
    }

    .intro__main-container .intro__general-container{
        grid-template-columns:repeat(auto-fill,minmax(300px,500px));
        gap: 30px 30px;
    }

    .intro__container{
        border-radius: 30px;
    }

    .intro__container p{
        font-family: var(--secondary-font);
        font-size: clamp(1.3rem,3vw,2rem);
        font-weight:400;
        letter-spacing: 0.105em;
        line-height: 150.7%;
        color: var(--text-color-black);
    }

    .intro__main-container .intro__container img{
        padding: 0;
        height: 452px;
        border-top-left-radius:30px;
         border-top-right-radius: 30px;
    }

    .intro__general-container .shadow-red{
        box-shadow: 0px 0px 12px var(--secondary-color-red);
    }

    .intro__general-container .shadow-blue{
        box-shadow: 0px 0px 12px var(--secondary-color-blue);
    }

    .intro__general-container .shadow-yellow{
        box-shadow: 0px 0px 12px var(--secondary-color-yellow);
    }





    /* Contact section */
    /* Ideary container general Styles */
    .contact__container, .ideary__main__container{
        
        position:relative;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .contact__container{
        margin: 100px 0;
        height: auto;
    }

    .contact__container > div{
        margin: 0 auto;
        margin-top:100px;
    }
    .contact__container h2{
        font-family: var(--main-font);
        font-size:clamp(2.6rem, 4vw, 5rem);
        letter-spacing: 0.105em;
        font-weight: 900;
        text-align: center;
    }

    .contact__general-container{
        margin: 0 auto;
        margin-top: 150px;
        width: 90%;
        /* min-width: 288px;
        max-width: 650px; */
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .contact__form, .contact__info{
        width: 100%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

   
    .contact__info{
        padding: 10px;
        min-height: 300px;
        border-radius: 5px;
        box-shadow: 0px 5px 12px 0px rgb(0 0 0 / 40%);
    }

    .contact-info__title-container{
        margin-bottom:8px;
        display: flex;
        align-items: center;
        font-family: var(--secondary-font);
        font-size:clamp(1.8rem, 3vw, 2.4rem);
        letter-spacing: 0.105em;
        font-weight: 900;
    }

    .contact-info__title-container .phone-icon{
        width: 30px;
        height: 30px;
    }

    .contact-info__title-container .phone-color{
        color: var(--secondary-color-blue);
    }

    .contact-info__title-container .instagram-color{
        color: var(--main-color-yellow);
    }

    .contact-info__title{
        color: var(--secondary-color-red);
    }

    .contact__info > p{
        margin-bottom: 30px;
    }

    .contact__container .contact__form > div{
        margin: 30px 0;
        margin-left: -20px;
        position:relative;
        width:100%;
        height: 70px;
        display: flex;
        
    }

    .contact__container img{
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }

    .contact__container input, textarea, select, option{
        border: 0;
        outline:none;
        resize: none;
        border-bottom: 3px solid #E5E5E5;
        width: 100%;
        height: inherit;
        font-family: var(--secondary-font);
        font-size: clamp(1.7rem, 3vw, 2rem);
        font-weight: normal;
        line-height: 161.7%;
        color: var(--text-color-black);
    }

    option{
        color: var(--secondary-color-red);
        
    }

    .contact__container input[type="submit"]{
        padding: 0 1em;
        border: 0;
        outline:none;
        margin-top: 30px;
        /* width: 139px; */
        width: max-content;
        height:60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:transparent;
        background-image: url('./assets/coloured-button.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: var(--secondary-font);
        font-size: clamp(2.2rem, 3vw, 3rem);
        font-weight:bold;
        letter-spacing: 0.105em;
        cursor: pointer;
        transition: all 300ms;
    }

    .contact__container input[type="submit"]:hover{
        text-decoration: underline;
        border: 2px solid rgb(1, 25, 71);
    }
    
/* ideary styles */
.ideary__main__container{
        padding-bottom:60px;
        background: var(--secondary-background-color);
        height: 100%;
}

.ideary__main__container h2{
    margin-top:160px;
    margin-bottom:30px;
    font-size:clamp(1.4rem, 3vw, 2rem);
    letter-spacing: 0.105em;
    color: var(--text-color-black);
}

.ideary__card__container{
    width: 95%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items:center;
    z-index: 1;
}

.ideary__card__container .ideary__card {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction:column;
    background: white;
    
}

.ideary__card__container .ideary__card > div:first-child{
    padding: 0.5em 0;
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 30px;
    font-family: var(--secondary-font);
    font-size:4rem;
    font-weight:normal;
    letter-spacing: 0.105em;
    color: var(--text-color-white);
}


.ideary__card:nth-child(1) div:first-child{
    background: var(--main-color-red);
}

.ideary__card__content{
    width:100%;
}


.ideary__card__content h3{
    visibility:hidden;
}


.ideary__card__content p, strong{
    padding: 1em 0.7em;
    font-family: var(--secondary-font);
    font-size:clamp(1.3rem, 3vw, 1.6rem);
    font-weight:normal;
    line-height: 140%;
    letter-spacing: 0.105em;
    color:var(--text-color-black);
}

.ideary__card__content strong{
    padding: 0;
    font-weight:bold;
    color: var(--main-color-red);
}

 .card-1{
    border:2px solid var(--main-color-red);
    
   
}



/* card-2 styles */
.ideary__card:nth-child(2) div:first-child{
    background:var(--main-color-blue);
}

.card-2{
    border:2px solid var(--main-color-blue);
    
}



.card-2 > p{
    font-weight: bold;
}

.card-2__ul{
    margin: 15px;
    margin-left: 3rem;
    display: block;
    list-style-type: square;
    color: var(--main-color-blue);
}

.card-2__ul li{
    margin-bottom: 0.5em;
    font-family: var(--secondary-font);
    font-size:clamp(1.3rem, 3vw, 1.6rem);
    font-weight: normal;
    line-height: 170%;
    letter-spacing: 0.105em;
    color: var(--text-color-black);
}


/* card-3 styles */
.ideary__card:nth-child(3) > div:first-child{
    background:var(--main-color-yellow);
    color: rgb(250, 250, 250);
}

.card-3{
    border:2px solid var(--main-color-yellow);
    
    
}


.card-3 div p:first-child{
    font-weight: bold;
}

#card-3__text-container {
    display:flex;
    justify-content:space-around;
}

/* TEAM PAGE STYLES */

.team-header{
    background: white;
}

.team-cards__main-container{
    padding-bottom:50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-around;
    background: white;
}

.team-cards__main-container h3,.team-cards__main-container h4,.team-cards__main-container p{
    text-align: center;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: clamp(2.2rem,3vw,2.7rem);
    line-height: 161.7%;
    letter-spacing: 0.105em;
    color: var(--text-color-black);
}

.team-cards__main-container h3{
    margin-top: 40px;
    width: 60%;
}
.team-cards__container{
    padding-bottom: 20em;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.team-cards{
    margin-top: 50px;
    min-width: 200px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.team-cards img{
    width:150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 5px 12px 0px rgb(0 0 0 / 40%);
    object-fit: cover;
    transition: all 0.4s ease-in-out;
}



.team-cards h4{
    margin: 0.8em 0 0 0.4em;
    font-size: clamp(1rem,3vw,2rem);
    font-weight: 500;
}

.team-cards p{
    font-size:clamp(0.7rem,3vw,1.3rem);
    font-weight: 400;
}

.team-cards__main-container:nth-child(2){
    background: var(--secondary-color-blue)
}

.team-cards__main-container:nth-child(4){
    background: var(--secondary-color-yellow)
}

.team-cards__main-container:nth-child(6){
    background: var(--secondary-color-red)
}

.team-cards__main-container:nth-child(8){
    background:  var(--secondary-color-blue)
}

.only-name p{
    margin: 10px 0;
}

/* Rules and normative styles */

.bars-header{
    position: relative;
    height: 90vh;
    display: flex;
    align-items: flex-start;
    background: white;
}

.bars-header__background{
    background: var(--secondary-background-color);
}

.bars-title__container{
    margin-top: 20vh;
    margin-left: 5vw;
    margin-right: 10px;
    width: 50%;
    
}

.bars-title__container h2, .bars-title__container h2{
    font-size:clamp(2.1rem, 3vw, 6.8rem);
    line-height: 160%;
    letter-spacing: 0.105em;
    color: var(--text-color-black);
}

.bars-title__container p, .bars-title__container p{
    margin-top:90px;
    width: 60%;
    font-family: var(--secondary-font);
    font-size:clamp(1.6rem, 2.4vw, 2.6rem);
    line-height:160%;
    letter-spacing: 0.105em;
    color: var(--text-color-black);
}

.bars-title__container p{
    margin-top:4em;
    width: 80%;
    line-height:120%;
    font-size:clamp(1.4rem, 2vw, 2rem);
}

.header-bar{
    position: absolute;
    right: 0;
    height: 150px;
    border-radius:5px;
}

 .bar-1{
    top: 20vh;
    width: 30%;
    background:var(--main-color-blue)
}

.bar-2{
    top: 43vh;
    width: 50%;
    background:var(--main-color-yellow)
}

.bar-3{
    top: 67vh;
    width: 95%;
    background:var(--main-color-red)
}


.rules__container,.uniform__container{
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 95%;
    font-family: var(--secondary-font);
    letter-spacing: 0.105em;
    background: var(--secondary-color-blue);
    border-radius:5px;
    box-shadow: 0px 5px 12px 0px rgb(0 0 0 / 40%);
    
}

.rules__container h3, span{
    display:block;
    font-weight: 700;
    font-size: clamp(2rem,3vw,2.7rem);
    line-height: 161.7%;
    color: var(--text-color-white);
}

.rules__container p, em{
    font-weight: 400;
    font-size: clamp(1.6rem,3vw,2rem);
    line-height: 160%;
    color: var(--text-color-black);
   
}

.rules__container em, .uniform__container ul{
    margin:3px 0;
    display: block;
}

.hidden{
    display: none;
}

.invisible{
    visibility: hidden;
}

.rules__container span{
    width: fit-content;
    cursor: pointer;
}

.rules__container span:hover{
   text-decoration: underline;
}

.rules__container:nth-child(2){
    background:  var(--secondary-color-yellow); 
}

.rules__container:nth-child(2) > h3, .rules__container:nth-child(2) >span{
    color:#878787;
}

.rules__container:nth-child(3){
    background:  var(--secondary-color-red)
}

.advise{
    margin: 40px auto;
    width: 90%;
    max-width: 1200px;
    font-family: var(--secondary-font);
    text-align: center;
    font-style: italic;
    font-weight: normal; 
    font-size: clamp(1.3rem,3vw,1.5rem);
    line-height: 140%;
    color: var(--text-color-black);
}

.uniform-main__container{
    padding-bottom: 80px;
    margin: 0 auto;
    width: 95%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
}

.uniform__container{
    margin: 0;
    margin-bottom:20px;
    width: 100%;
    max-width:850px;
    background: white;
}

.uniform-main__container img{
   margin-bottom: 30px;
    max-width: 500px;
    min-width: 30px;
    max-height: 400px;
    object-fit: cover;
    border-radius:5px;
    box-shadow: 0px 5px 12px 0px rgb(0 0 0 / 40%);
}

.uniform__container h3, h4{
    font-weight: 700;
    font-size: clamp(2rem,3vw,2.7rem);
    line-height: 161.7%;
    color: var(--text-color-black);
}

.uniform__container h4{
    font-weight: 400;
    font-size: clamp(1.8rem,3vw,2.5rem);
}

.uniform__container ul{
    list-style-type: disc;
    list-style-position: inside;
    font-weight: 400;
    font-size: clamp(1.9rem,3vw,2.2rem);
    line-height: 120%;
    color: var(--text-color-black);
}


/* Footer styles */

footer{
    padding: 10px;
    padding-top: 60px;
    width: 100%;
    border-top: 2px solid #d2d2d7;
    background: #fbfbfb;
}

.footer-card__container{
    padding: 0 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #d2d2d7;
}


.footer-title__container{
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 161.7%;
    letter-spacing: 0.105em;
    cursor: pointer;
}
 .title-one{
    color: var(--secondary-color-red);
}

 .title-one:hover{
    color:var(--main-color-red);
}

 .title-two{
    color: var(--secondary-color-blue);
}

 .title-two:hover{
    color:var(--main-color-blue);
}

.title-three{
    color: var(--secondary-color-yellow);
}

 .title-three:hover{
    color:var(--main-color-yellow);
}


.footer-title__container img{
    margin-right: 10px;
    width: 25px;
    height: 25px;
}


.footer-title__container img[alt="Contacto"], img[alt="Ubicación"]{
    margin-left: -5px;
    margin-right: 4px;
    width: 35px;
    height: 35px;
}

.footer-content__container{
    margin: 0 auto;
    width: 90%;
}

.footer-content__container > ul{
    display: block;
    margin: 0 auto;
    width: 90%;
}

.footer-content__container h4, .footer-content__container p, .footer-content__container ul, .footer-content__container li, .footer-content__container a{ 
    margin-bottom: 1em;
    font-family: var(--secondary-font);
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 161.7%;
    letter-spacing: 0.105em;
    color: var(--text-color-black);
    
}

.footer-content__container a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.footer-content__container > h4{
    margin:0 ;
    font-size: 1.4rem;
    font-weight: 500;
}

footer > section:last-child{
    margin: 0 auto;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: var(--secondary-font);
    font-size: clamp(1.9rem,3vw,2.1rem);
    letter-spacing: 0.105em;
    color: var(--text-color-black);
}

footer > section:last-child > h3, a{
    width: 40%;
    text-align: center;
    font-family: var(--secondary-font);
    font-size: clamp(1.1rem,3vw,1.4rem);
    letter-spacing: 0.105em;
    color: var(--text-color-black);
    font-weight: 500;
}

footer > section:last-child a{
    font-weight: bold;
    transition: all 0.2s ease-in-out; 
}

footer > section:last-child a:hover{
    color: var(--secondary-color-red);
    text-decoration: underline;
}


/* instalaciones styles */

.enviroment-main__container{
    padding-top: 40px;
    background: var(--secondary-background-color);
}

.enviroment-level{
    margin: 100px 0;
    text-align: center;
    font-family: var(--secondary-font);
    font-size: clamp(1.3rem,3vw,2.2rem);
    font-weight: 700;
    letter-spacing: 0.105em;
    color: var(--text-color-black);
    text-decoration: underline;
}

.cards-general__container{
    padding: 80px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,600px));
    gap: 60px 30px;
    justify-content:space-around;
}

.cards__container{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease-in-out;
}



.cards__container > img{
    width:100%;
    height: 352px;
    object-fit: cover;
}

.cards-content__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cards-title__container {
    padding: 15px;
    min-width: 200px;
}

.cards-title__container > h3{
    text-align: center;
    font-size: clamp(1.8rem,3vw,2rem);
    font-weight: 500;
    letter-spacing: 0.105em;
    color: var(--text-color-black);
}

.cards-content__container > p{
    margin-top: 20px;
    font-family: var(--secondary-font);
    font-size: clamp(1.3rem,3vw,1.6rem);
    font-weight: 400;
    letter-spacing: 0.105em;
    color: var(--text-color-black);
}

.institution__header{
    background-image: url('../images/pasillo.webp');
}

.institution-general__container{
    position: relative;
    padding-top: 100px;
}

.institution-main__container{
    padding: 80px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 20;
}

.institution-content__container{
    margin: 10px auto;
    margin-bottom:30px;
    width: 90%;
    max-width: 500px;
    text-align: center;
}

.institution-content__container h2{
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: clamp(1.8rem, 3vw, 2.4rem);
    letter-spacing: 0.105em;
   
}

.institution-title-red{
    color: var(--secondary-color-red);
}

.institution-content__container p{
    font-family:var(--secondary-font);
    font-weight: 300;
    font-size: clamp(1rem,3vw,1.6rem);
    line-height: 186.7%;
    letter-spacing: 0.105em;
   
}

.institution-main__container img{
    width: 100%;
    max-width: 500px;
    height: max-content;
    min-height: 335px;
    object-fit: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.institution-border-red{
    border:10px solid var(--secondary-color-red);
}


.institution-main__container:nth-child(even){
    flex-direction: row-reverse;
}

.institution-title-blue{
    color: var(--secondary-color-blue);
}

.institution-border-blue{
    border:10px solid var(--secondary-color-blue);
}

.institution-title-yellow{
    color: var(--main-color-yellow);
}

.institution-border-yellow{
    border:10px solid var(--secondary-color-yellow);
}

.institution-title-old{
    color: #13216e;
}

.institution-border-old{
    border:10px solid #13216e;
}


/* Slider styles */
.swiper {
    margin-top: 90px;
    margin-bottom:30px;
    width: 100%;
    height: 80vh;
    border-radius:10px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  .levels-general__container p{
      text-align: center;
      text-decoration: underline;
  }

  .levels-general__container > .levels__explanation-text{
    margin: 0 auto;
    margin-top: 130px;
    width: 60%;
    text-decoration: none;
    font-family:var(--secondary-font);
    font-weight: 400;
    font-size: clamp(1.4rem,3vw,2.2rem);
    line-height: 186.7%;
    letter-spacing: 0.105em;
    color: var(--text-color-black);
  }

  .levels__explanation-text .explanation-text__features{
      margin: 8px 0;
    font-family:var(--secondary-font);
    font-weight: bold;
    font-size: clamp(1.2rem,3vw,1.6rem);
    line-height: 186.7%;
    letter-spacing: 0.105em;
    color: var(--text-color-black);
  }

  .levels__explanation-text  .explanation-text__features a{
      text-decoration: underline;
  }

  .proyects-main__container{
      margin-top: 200px;
      background: var(--secondary-color-yellow);
  }

  .salidas{
      background: var(--secondary-color-blue);
  }

  .proyects-main__container h2{
      padding-top: 60px;
      text-align: center;
      font-family:var(--secondary-font);
      font-weight: 700;
      font-size: clamp(3.2rem,3vw,4.2rem);
      line-height: 186.7%;
      letter-spacing: 0.105em;
      color: var(--text-color-black);

  }
  .proyects-content__container{
    grid-template-columns: repeat(auto-fill,minmax(300px,700px));
  }

  .timetable__container{
      margin: 0px auto;
      margin-top: 150px;
      margin-bottom: 80px;
      padding: 80px 0;
      width: 100%;
      text-align: center;
      background: var(--secondary-color-red);
  }

  .timetable__container > div{
      margin: 0px auto;
      margin-bottom: 40px;
      width: fit-content;
  }

  .timetable__container h4{
      padding: 0 20px;
      width: fit-content;
      font-family:var(--secondary-font);
      font-weight: 900;
      font-size: clamp(4.2rem,3vw,7.2rem);
      line-height: 186.7%;
      letter-spacing: 0.105em;
      color: white;
  }

    .timetable__container > p{
        margin: 20px 0;
        text-decoration: none;
        font-size: clamp(1.4rem,3vw,2rem);
        line-height: 186.7%;
        letter-spacing: 0.105em;
        color: white;
    }

  .table-main__container{
      padding-top:120px;
      width: 100%;
      background: var(--secondary-background-color);
  }
  .table__general-container{
      padding-bottom: 20px;
      margin: 20px auto;
      margin-bottom: 100px;
      width: 100%;
      height: 90vh;
      text-align: center;
      border-radius: 20px;
      box-shadow: 0px 5px 12px 0px rgb(0 0 0 / 40%);
  }

  .table__general-container h4{
        padding: 60px;
        font-family:var(--secondary-font);
        font-weight: 700;
        font-size: clamp(2.2rem,3vw,3.2rem);
        line-height: 186.7%;
        letter-spacing: 0.105em;
        color: var(--text-color-black);
    }

    .table__container{
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
        margin: 0 auto;
        width: 95%;
        height: 60vh;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 3%;
        justify-items: center;
        align-items: center;
    }

    .table__container::-webkit-scrollbar{
        margin: 10px;
        background-color: var(--secondary-color-blue);
        height: 8px;
        border-radius: 10px;
    }

    .table__container::-webkit-scrollbar-thumb {
        background-color: var(--main-color-blue);
        border-radius: 10px;
    }
    
    .table__container .table__content-cell{
        padding: 5px;
        scroll-snap-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-width: 140px;
        max-width: 200px;
        height: 100%;
        max-height: 100px;
        background: #F5F5F5;
        border-radius: 10px;
        box-shadow: inset 0px 0px 13px rgba(0, 0, 0, 0.25);
    }

    .table__container .cell-yellow{
        background: var(--secondary-color-yellow);
    }

    .table__container .cell-orange{
        background:#ffda9e
    }

    /* Reducing the font-size, because it's a long text */
    .table__container .cell-orange > p{
        font-size: clamp(1.2rem,2vw,1.8rem);
        line-height: 166.7%;
    }

    .table__container .cell-red{
        background: var(--secondary-color-red);
    }

    .table__container .cell-red > p{
        color: white;
    }

    .table__container .cell-blue{
        background: var(--secondary-color-blue);
    }

    .table__container .cell-blue > p{
        color: white;
        line-height: 136.7%;
    }

    .table__container .cell-pink{
        background: #fdcae1;
    }

    .table__content-cell p{
        font-family:var(--secondary-font);
        font-weight: 700;
        font-size: clamp(1.4rem,2vw,2rem);
        line-height: 186.7%;
        letter-spacing: 0.105em;
        text-decoration: none;
        color: var(--text-color-black);
    }

    .notice-header{
        min-height: 30vh;
        height:30vh;
    }

    .notice-title{
        margin: 0 auto;
        margin-top: 120px;
        
    }

    .notice-title h1{
        font-size: clamp(2rem,3vw,4.2rem);
        color: var(--text-color-black);
    }

    .notice__container{
        padding: 20px;
        width: 100%;
        display: grid;
        /* grid-template-columns: repeat(auto-fill,minmax(300px,600px)); */
        grid-template-rows: minmax(200px,300px);
        grid-template-columns: repeat(2,1fr);
        /* Permite reordenar los elementos segun si entran en un espacio sobrante o no */
        grid-auto-flow: dense;
        gap: 20px;
        background: var(--secondary-background-color);
    }

    .notice__container > img{
        width: 100%;
        height: 100%;
        min-height: 250px;
        object-fit:cover;
        border-radius:20px;
        cursor:pointer;
        transition: all 0.3s ease;
    }

    .notice__container > img:hover{
        filter: brightness(0.8);
    }

    .notice__tall{
        grid-column: span 1;
        grid-row: span 2;
    }

    .notice__long{
        grid-column: span 2;
        grid-row: span 1;
    }

    .notice__normal{
        grid-column: span 1;
        grid-row: span 1;
    }

    .notice__big{
        grid-column: span 2;
        grid-row: span 2;
    }

    .modal__container{
        position: fixed;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(32,35,41,.8);
        z-index: 60;
        cursor: pointer;
    }

    .modal__container .modal{
        width: 95%;  
    }

    .modal > img{
        width: 100%;
        min-height: 300px;
        border: 5px solid var(--text-color-white);
        object-fit: cover;
        cursor: default;
    }