
    /* ORDEN de estilos:
    1- Posicionamiento --> static, absolute, relative, fixed
    2- Modelo de caja (Box model) --> margin, border, padding, content
    3- Tipografía --> tipos, tamaños de fuente, etc
    4- Estilos visuales --> box-shadow, border-radius, gradient, etc
    5- Otros --> reglas CSS y más 
    */
    :root{
        --main-color-red:#FF403F;
        --main-color-blue:#4B93FF;
        --main-color-yellow:#FAC901;

        --text-color-white:#FDF1F1;
        --text-color-black:#323232;

        --main-font:'Archivo Black', sans-serif;
        --secondary-font:'Roboto', sans-serif;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-size: 62.5%;
       
    }

    html{
        font-family: var(--main-font);
        scroll-behavior: smooth;
        font-size: 62.5%;
    }

    header{
        width: 100%;
        min-height: 100vh;
        background-image: url('fondo-max.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center; 
        z-index: 1;     
    }

    .filter{
        position: absolute;
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(180deg, rgba(0, 7, 32, 0.57) -1.19%, rgba(0, 12, 55, 0.228) 61.05%, rgba(0, 14, 65, 0) 100%);
        transform: matrix(1, 0, 0, -1, 0, 0);
        z-index: 2;
    }

    nav{
        position:fixed;
        padding: 2em;
        width: 100%;
        height: 10vh;
        background: rgba(249, 248, 248, 0.71);
        display: flex;
        align-items: center;
        z-index: 25;
    }

    nav > div{
        padding: 0 7em;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav .icon{
        width:57px;
        height: 58px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    nav .icon a{
        display: block;
        width: inherit;
        height: inherit;
    }

    nav .logo{
        background-image: url('logo-prueba.png');
    }

    nav  .menu{
        
        cursor: pointer;
        width: 36px;
        background-image: url('menu.png');
    }


    /* Disable on mobile */
    ul{
        list-style: none;
        display: none;
    }

    .main-title__container{
        margin-top: 60px;
        width: 90%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        color: var(--text-color-white);
        z-index: 10;
    }

    .main-title h1{
        font-size:clamp(2.6rem, 4vw, 5rem);
        letter-spacing: 0.105em;
        font-weight: 900;
    }

    .main-title__underline{
        margin-top: 4px;
        width: 100%;
        height: 9px;
        background-image: url('diagonal-underline.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
   
   .main-title__container h2{
        font-family: var(--secondary-font);
        font-size:clamp(1.4rem, 2vw, 2rem);
        letter-spacing: 0.065em;
        font-weight: 400;
   }

   .primary-button__container{
        width:146px;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('coloured-button.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 300ms;
   }

   .primary-button__container a{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-color-white);
        font-weight: 900;
        font-size: 1.4rem;
        letter-spacing: 0.065em;
   }

   
   .primary-button__container:hover, button:hover{
       text-decoration: underline;
       border: 3px solid rgba(0, 18, 51);
       transform: scale(1.1);
   }

   
   /* off-canvas menu styles */
   #menu{
        position: absolute;
        right: 0;
        top: 10vh;
        border-top: 1px solid #868686;
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        background: #ececf1;
        z-index: 20;
        transition: all 0.4s ease-in-out;

   }

   /* class to modify the position of off-canvas menu, and to validate the condition at javascript*/
   .menu__out{
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
   }

   #menu ul{
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:flex-start;
   }

   #menu ul:last-child{
       justify-content:space-evenly;
   }

   #menu hr{
       background-color: #868686;
   }

   #menu ul a{
        font-family: var(--secondary-font);
        font-weight: 600;
        font-size: 1.4rem;
        letter-spacing: 0.065em;
        color: #585757;
   }

   #menu ul a:hover{
       text-decoration: underline;
   }

   /* class to add animation to off-canvas menu */
   .menu__animation{
    animation:off_menu;
    }
    @keyframes off_menu{
        0%{
            opacity: 0;
            transform: translateY(-100vh)
        }
        25%{
            opacity: 1;
        }
        100%{
            opacity: 1;
            transform: translateY(0px)
        }
        
    }


    /* Contact section */
    /* Ideary container general Styles */
    .contact__container, .ideary__main__container{
        position:relative;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .contact__container > div{
        margin: 0 auto;
        margin-top:100px;
    }
    .contact__container h2{
        font-family: var(--main-font);
        font-size:clamp(2.6rem, 4vw, 5rem);
        letter-spacing: 0.105em;
        font-weight: 900;
        text-align: center;
    }

    .contact__container section{
        margin: 0 auto;
        margin-top: 150px;
        width: 60%;
        min-width: 288px;
        max-width: 650px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact__container section > div{
        margin: 30px 0;
        position:relative;
        width:100%;
        height: 70px;
        display: flex;
        
    }

    .contact__container img{
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }

    .contact__container input, textarea{
        border: 0;
        outline:none;
        resize: none;
        border-bottom: 3px solid #E5E5E5;
        width: 100%;
        height: inherit;
        font-family: var(--secondary-font);
        font-size: clamp(2.2rem, 3vw, 2.6rem);
        font-weight: normal;
        line-height: 161.7%;
        color: var(--text-color-black);
    }

    .contact__container button{
        padding: 1em;
        border: 0;
        outline:none;
        margin-top: 30px;
        width: 139px;
        height:55px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:transparent;
        background-image: url('coloured-button.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: var(--secondary-font);
        font-size: clamp(2.2rem, 3vw, 3rem);
        font-weight:bold;
        letter-spacing: 0.105em;
        cursor: pointer;
        transition: all 300ms;
    }
    
/* ideary styles */
.ideary__main__container{
        background: #F8FAFF;
        height: 100%;
}

.ideary__main__container h2{
    margin-top:160px;
    margin-bottom:30px;
    font-size:clamp(1.4rem, 3vw, 2rem);
    letter-spacing: 0.105em;
    color: var(--text-color-black);
}

.ideary__card__container{
    width: 95%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items:center;
    z-index: 10;
}

.ideary__card__container .ideary__card {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction:column;
    background: white;
    
}

.ideary__card__container .ideary__card > div:first-child{
    padding: 0.5em 0;
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 30px;
    font-family: var(--secondary-font);
    font-size:4rem;
    font-weight:normal;
    letter-spacing: 0.105em;
    color: var(--text-color-white);
}


.ideary__card:nth-child(1) div:first-child{
    background: var(--main-color-red);
}

.ideary__card__content{
    width:100%;
}


.ideary__card__content h3{
    visibility:hidden;
}


.ideary__card__content p, strong{
    padding: 1em 0.7em;
    font-family: var(--secondary-font);
    font-size:clamp(1.3rem, 3vw, 1.6rem);
    font-weight:normal;
    line-height: 140%;
    letter-spacing: 0.105em;
    color:var(--text-color-black);
}

.ideary__card__content strong{
    padding: 0;
    font-weight:bold;
    color: var(--main-color-red);
}

 .card-1{
    border:2px solid var(--main-color-red);
    
   
}



/* card-2 styles */
.ideary__card:nth-child(2) div:first-child{
    background:var(--main-color-blue);
}

.card-2{
    border:2px solid var(--main-color-blue);
    
}



.card-2 > p{
    font-weight: bold;
}

.card-2__ul{
    margin: 15px;
    margin-left: 3rem;
    display: block;
    list-style-type: square;
    color: var(--main-color-blue);
}

.card-2__ul li{
    margin-bottom: 0.5em;
    font-family: var(--secondary-font);
    font-size:clamp(1.3rem, 3vw, 1.6rem);
    font-weight: normal;
    line-height: 170%;
    letter-spacing: 0.105em;
    color: var(--text-color-black);
}


/* card-3 styles */
.ideary__card:nth-child(3) > div:first-child{
    background:var(--main-color-yellow);
    color: rgb(250, 250, 250);
}

.card-3{
    border:2px solid var(--main-color-yellow);
    
    
}


.card-3 div p:first-child{
    font-weight: bold;
}

#card-3__text-container {
    display:flex;
    justify-content:space-around;
}

/* TEAM PAGE STYLES */

.team-header{
    background: white;
}

.team-cards__main-container{
    padding-bottom:50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-around;
    background: white;
}

.team-cards__main-container h3, h4, p{
    text-align: center;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: clamp(2.2rem,3vw,2.7rem);
    line-height: 161.7%;
    letter-spacing: 0.105em;
    color: var(--text-color-black);
}

.team-cards__main-container h3{
    margin-top: 40px;
    width: 60%;
}
.team-cards__container{
    padding-bottom: 20em;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.team-cards{
    margin-top: 50px;
    min-width: 200px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.team-cards img{
    width:150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 5px 12px 0px rgb(0 0 0 / 40%);
}

.team-cards h4{
    margin: 0.8em 0 0 0.4em;
    font-size: clamp(1rem,3vw,2rem);
    font-weight: 500;
}

.team-cards p{
    font-size:clamp(0.7rem,3vw,1.3rem);
    font-weight: 400;
}

.team-cards__main-container:nth-child(2){
    background: #84B5FF
}

.team-cards__main-container:nth-child(4){
    background: #FFE26A
}

.team-cards__main-container:nth-child(6){
    background: #ff8786
}

.team-cards__main-container:nth-child(8){
    background:  #84B5FF
}

.only-name p{
    margin: 10px 0;
}